.logo {
	margin-top:200px;
	text-align: center;
	height:auto;
	margin-left: auto;
	margin-right: auto;
}

.top {
	margin-top:0px;
	padding-top:0px;
	height:20px;
}

.center {
	text-align: center;
}

.navbar {
	display:block;
	float:right;
	padding:0;
	text-align:right;
	color: #404040;
    text-decoration: none;
    line-height: 24px;
    outline: medium none;
    vertical-align: middle;
    font-size: 13px;
}

.hdrlink {
	padding-left: 10px;
	padding-right:10px;
}

.iform	{
	text-align: center;
}

.form {
	width: 520px;
	height: 1.5em;
	margin-top: 12px;
}

.buttons {
	display:inline-block;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}

.button {
	position: relative;
	text-align: center;
    height: 29px;
    line-height: 27px;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    -moz-user-select: none;
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    color: #444;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 12px 8px;
    min-width: 54px;
    padding: 0px 8px;
    text-align: center;
}

.footer {
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 0px;
	vertical-align: bottom;
	position: fixed;
	bottom: 0px;
	left: 0px;
	display: block;
	height: 20px;
	width: 100%;
	border-top: 1px solid #DCDCDC;
	background-color: #F1F1F1;
	font-family: Arial,sans-serif;
	font-size: small;
}

.fl {
	float:left;
	display:block;
	position:relative;
	color:#444;
}

.fr {
	float:right;
	display:block;
	position:relative;
	color:#444;
}
